/* Main CSS for Messages */

body {
	padding-top: 20px;
	font-weight: 400;
}

.center{text-align: center;}

.centered{margin-right: auto;margin-left: auto;}
.center-top{vertical-align: middle;}

.centerbox{width:80%;margin-left:auto;margin-right:auto;padding-bottom:13px;}

.center-padded{width: 80%;height: 90%;}

p{font-size: 18px;}

.has-border{border-width:2px;border-style:solid;}

.maincont{width:90%;margin-left:auto;margin-right:auto;}

.indent{text-indent: 3px;}

.left{text-align:left;}
.right{text-align:right;}
.clearboth{float:auto;clear:both;}
.headings{clear:both;}
.body{position:absolute;clear:both;}
.notbold{font-weight: normal;}
.margin-top{margin-top: 6px;}

.angry{color: red;}

.autoleft{
	width:auto;
	margin:0 auto;
}

#indexMessage{
	width:90%;
	width: 200px;
	outline: 5px;
	border-style: solid;
	border-width: 2px;
	margin-right: auto;
	margin-left: auto;
	height: 80px;
}

#loadMore{
	width:90%;
	width: 200px;
	outline: 5px;
	border-style: solid;
	border-width: 2px;
	margin-right: auto;
	margin-left: auto;
	height: 40px;
}

.inbound{
	float:left;
	border-style:solid;
	border-width:1px;
	background-color:lightgrey;
	color:black;
	padding-bottom:20px;
	clear:right;
	padding:3px;
	width:70%;
	margin:3px;
}

.outbound{
	float:right;
	border-style:solid;
	border-width:1px;
	background-color:darkblue;
	color:white;
	padding-bottom:20px;
	clear:left;
	padding:3px;
	width:70%;
	margin:3px;
}

.footer{
	width:90%;
	border-style: solid;
	border-width: 2px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
}





