<div class="text-center has-border maincont" ng-controller="indexController as index">
<h3>Recent Messages</h3>
	<div ng-repeat="message in index.messages | orderBy:message.time" class="text-left indent">
		<div id="indexMessage">
			<h5>{{message.from.name}} & {{message.to.name}}</h5>
			<a href="#/messages/{{message.message_id}}">
			<h6 class="">{{message.body | limitTo: 24}} ...</h5>
			</a>
		</div>
	</div>
</div>








<!-- Sample Message for reference commented out
[{
    "message_id": "5009b72ab14d068704000001",
    "from": [{
        "_id" : "5009b72ab14d068704000014",
        "name" : "Ben Bullock",
        "type" : "volunteer"
    }],
    "to": [{
        "_id" : "5018f85ab14d068504000023",
        "name" : "Michigan & Randolph",
        "type" : "location"
    }],
    "body" : "This is our first test message",
    "time" : "5-31-14 12:00PM",
    "type" : "inbound",
    "location_id": "5018f85ab14d068504000023",
    "location_name" : "Michiga & Randolph",
    "zone_id" : "4fe732327a959ce45f000002"
},
-->