    <!-- main container -->
<div class="text-center has-border maincont">

    <!--Entry Screen / Initial Location Selection. Hidden after first selection -->
    <div ng-hide="locationSelect">
        <div class="centerbox center">
            <h4>You have access to multiple locations.</h4><h3> Please select one to continue.</h3>
                <div ng-repeat="message in messages" class="autoleft">
                        <input type="checkbox" name="select1" ng-model="$parent.locationSelect" ng-true-value="{{message.location_name}}" ng-click="selectedLocation()">
                        {{message.location_name}}</input>
                </div>
        </div>
    </div>

    <!-- Displays this section after intial selection -->
    <div ng-show="locationSelect">
        
        <!-- location selection filter-->
        <a href="" ng-click="toggle1=!toggle1">Select a Location</a>
        <div>
            <div ng-repeat="message in messages" class="autoleft" ng-show="toggle1">
                    <input type="checkbox" name="select1" ng-model="$parent.locationSelect" ng-true-value="{{message.location_name}}">
                    {{message.location_name}}</input>
            </div>
        </div>

        <!-- message index -->
        <div>
            <h3>Recent Messages for {{locationSelect}}</h3>
        	<input ng-model="query" placeholder="Search by name, etc">
            <br><br>
        	<div ng-repeat="message in messages | filter:query | filter:locationSelect:strict" class="text-left indent">
        		<div id="indexMessage">
        			<h5>{{message.to.name.join(', ') || message.to.name}}</h5>
        			<a href="#/messages/{{message.message_id}}">
        			<h6 class="">{{message.body | limitTo:29}} ...</h6>
        			</a>
        		</div>
        	</div>
        </div>
    </div>

    <!-- new Message page redirect button -->
    <div class="has-border margin-top" ng-show="locationSelect">
        <a href="#/newMessage">
            <h6>Compose a New Message</h6>
        </a>
    </div>
</div>



<!-- Sample Message for reference in building, commented out (REMOVE BEFORE RELEASE)
[{
    "message_id": "5009b72ab14d068704000001",
    "from": {
        "_id" : "5009b72ab14d068704000014",
        "name" : "Ben Bullock",
        "type" : "volunteer"
    },
    "to": {
        "_id" : "5018f85ab14d068504000023",
        "name" : "Michigan & Randolph",
        "type" : "location"
    },
    "body" : "This is our first test message",
    "time" : "epoch UNIX time",
    "type" : "inbound",
    "location_id": "5018f85ab14d068504000023",
    "location_name" : "Michiga & Randolph",
    "zone_id" : "4fe732327a959ce45f000002"
},
-->